body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh; /*view height*/
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(http://miriadna.com/desctopwalls/images/max/A-view-of-Rangitito-Island.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://pix10.agoda.net/hotelImages/908/908179/908179_15082409590034883275.jpg?s=1024x768);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://pix10.agoda.net/hotelImages/179/1790309/1790309_17010715490050188867.jpg?s=1024x768);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://img06.tooopen.com/images/20160817/tooopen_sy_175796388571.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Argleton%2C_view_from_Bold_Lane.JPG);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}